form{
    border: 2px solid #61030e;
    background-color: #eeeeee;
    margin: 50px;
    padding: 20px;
}

input {
    display: block;

}
label {
    display: block;

}
button {
    background-color: red;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}