form{
    border: 2px solid #992bfe;
    display: inline-block;
    margin-left: 565px;
    padding: 5px;
}

div{
    display: block;
}

label{
    display:block;
}

button{
    color: white;
    background-color: green;
    border-color: black;
}